/*==============================ADD FONTS APIS===============================*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
/*==============================ADD FONTS APIS===============================*/

/*================================ VARIABLES ================================*/
:root{

	--primary-color : #2196f3;
	--primaryrgb-color : 33, 150, 243;

	--text-dark : #212529;

	--bgbody-color : #f8f9fa;
	--bglight-color : #F5F5F7;

	--primaryfont : 'Lato', sans-serif;
	--primaryiconfont : 'bootstrap-icons';

	--letterspacing-small : 0.05rem;
	--letterspacing-medium : 0.10rem;

	--navbar-height : 74px;
	--cta-height : 130px;
}
/*================================ VARIABLES ================================*/
/*============================= SCROLLBAR START =============================*/
body{
  overflow-x: hidden;
  overflow-y: auto;

}
body::-webkit-scrollbar{
    width: 5px;   
}
body::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: var(--primary-color);
}
/*============================== SCROLLBAR END ==============================*/
body{
  font-family: var(--primaryfont);
  background-color: var(--bgbody-color);
  padding: 0px !important;
  letter-spacing:  var(--letterspacing-small);
  color: var(--text-dark);
}
a{color: var(--primary-color); text-decoration:  none;}
a:hover, a:focus, .btn:hover, .btn:focus{ box-shadow: none; text-decoration: none;}

.w-100vw{width: 100vw !important;}
.h-100vh{height: 100vh !important;}
.bg-gray-light {background-color: var(--bglight-color) !important}
/*================================= NAVBAR ==================================*/
.navbar-top{
	background-color: #fff;
  display: flex;
  align-items: stretch;
  width: 100%;
  min-height: var(--navbar-height);
  padding:  0px;
  display: flex;
  flex-direction: column;
  /*box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);*/
}
.navbar-top .topbar{
  background: #fafafa;
  min-height:  30px;
}
.navbar-top .topbar .topbar-nav{
  list-style: none; 
  display:  flex;
  align-items:  center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height:  100%;
}
.navbar-top .topbar .topbar-nav .nav-item{}
.navbar-top .topbar .topbar-nav .nav-item .nav-link{
    padding: 0.125rem 1rem;
    display: flex;
    align-items: center;
}
.navbar-top .topbar .topbar-nav .nav-item .nav-link i{
  color: var(--primary-color);
  border-radius: 4px;
  padding: 0.125rem .25rem;
}
.navbar-top .topbar .topbar-nav .nav-item .nav-link .nav-link-text{
  font-weight: 600;
  color: var(--text-dark);
  font-size:  0.85rem;
}

.navbar-top .navbar-brand{
  height: 54px;
  transition: .2s ease-in-out transform;
}
.navbar-top .navbar-brand:hover{
  transform: rotate(-5deg) scale(1.1);
}
.navbar-top .navbar-brand img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.navbar-top .navbar-toggler{
	border:  0;
	box-shadow: none;
}
.navbar-top .navbar-nav{
	height: var(--navbar-height);
	display: flex;
  align-items: stretch;
  gap:  0 0.5rem;
}
.navbar-top .navbar-nav .nav-item{
	height: 100%;
	position:  relative;
	
}
.navbar-top .navbar-nav .nav-item .nav-link{
	height: 100%;
	display: flex;
  align-items: center;
  padding: 6px 18px;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: var(--letterspacing-medium);
}
.navbar-top .navbar-nav .nav-item .nav-link:hover{
  color: var(--primary-color);
}
.navbar-top .navbar-nav .nav-item .nav-link.active{
	font-weight: bold;
  color: var(--primary-color);
}
@media screen and (min-width: 991px){
.navbar-top .navbar-nav .nav-item .nav-link.active:after,
.navbar-top .navbar-nav .nav-item .nav-link:hover:after{
	content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: var(--primary-color);
  left: 0;
  border-radius: 4px;
}
.navbar-top .topbar .topbar-nav .h-divider{
    display: flex;
    align-items:  center;
    color: var(--bs-gray-400);
  }
}
@media screen and (max-width: 990px){
  .navbar-top .offcanvas-header{
    background-color: #fafafa;
    height: var(--navbar-height);
    padding: .85rem;
    border-bottom:  1px solid #eaeaea;
  }
  .navbar-top .offcanvas-header .btn-close{
    background: none;
    opacity: 1;
    display: flex;
    align-items: center;
    margin: 0;
  }
  .navbar-top .offcanvas-header .btn-close i{
    color:  var(--bs-red);
    font-size:  1.5rem;
  }
  .navbar-top .offcanvas-body{
    padding: 0;
  }
  .navbar-top .navbar-nav{
    margin: 1rem 0;
  }
  .navbar-top .navbar-nav .nav-item .nav-link{
    height:  54px;
    padding: .85rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-top .navbar-nav .nav-item .nav-link:after{
    content: '\F285';
    font-family: var(--primaryiconfont);
  }
  .navbar-top .navbar-nav .nav-item .nav-link:hover{
    background-color: rgba(var(--primaryrgb-color), 0.05);
  }
  .navbar-top .navbar-nav .nav-item:not(:last-child){
    border-bottom:  1px solid #eaeaea;
  }
}

@media screen and (max-width: 576px){
  .navbar-top{
    min-height: auto;
  }
  .navbar-top .topbar{
    display: none;
  }
  .navbar-top .topbar .topbar-nav{
    flex-direction:  column;
    align-items: flex-start;
  }
  .navbar-top .topbar .topbar-nav .h-divider{
    display: none;
  }
  .navbar-top .topbar .topbar-nav .nav-item .nav-link{
    padding: .125rem .35rem;
    flex:  1;
    width: 100%;
  }
  .navbar-top .topbar .topbar-nav .nav-item .nav-link i{
    margin-right: .5rem;
  }

}
/*================================= / NAVBAR ==================================*/
/*================================= BANNER ==================================*/

.carousel .carousel-item:after{
	content:  '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.45);
	z-index: 1;
}
.carousel .carousel-item img{
	width: 100%;
	height:  100%;
	object-fit: cover;
}
.carousel-caption {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
} 
.carousel-caption .caption-desc{
  font-size:  1.15rem;
  font-weight: 500;
}
.carousel-item {
  height: 28rem;
}

@media screen and (max-width: 990px){
.carousel-item {
  height: 24rem;
}  
}
/*================================= / BANNER ==================================*/
/*================================= SECTION =================================*/
.section{
	padding: 75px 0;
}
.section-title{
	font-weight:  600;
	font-size: 2rem;
  line-height: 1.2;
	color: var(--text-dark);
}
.section-subtitle{
    text-transform: uppercase;
    letter-spacing: var(--letterspacing-medium);
    font-size: 0.7em;
    padding:  .25rem .75rem;
    font-weight: bold;
}
.headsection{
  position: relative;
  height: 220px;
  display: flex;
  align-items: center;
}
.headsection:after{
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom:  0;
  top: 0;
  left: 0;
  right: 0;
}
.headsection .headsection-title{
  z-index:  99;
  color: #ffffff;
  position:  relative;
  font-size: 2.5rem;
  margin: 0px;
  letter-spacing: var(--letterspacing-medium);
}

.about-img{
  background:  url('../img/about-banner.jpeg') no-repeat center center / cover;
  background-attachment: fixed;
}
.services-img{
  background:  url('../img/services-banner.jpeg') no-repeat center center / cover;
  background-attachment: fixed;
}
.contact-img{
  background:  url('../img/contact-banner.jpeg') no-repeat center bottom / cover;
  background-attachment: fixed;
}

.emptyyard-img{
  background:  url('../img/empty-yard.jpeg') no-repeat center top / cover;
  background-attachment: fixed;
}

.containersale-img{
  background:  url('../img/container-sale.jpeg') no-repeat center top / cover;
  background-attachment: fixed;
}

.portacabin-img{
  background:  url('../img/porta-cabin.jpg') no-repeat center center / cover;
  background-attachment: fixed;
}

.transportation-img{
  background:  url('../img/transportation.jpeg') no-repeat center top / cover;
  background-attachment: fixed;
}
.btn-link {
    position: relative;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
}
.btn-link:hover{
    color: rgba(var(--primaryrgb-color), 50%);
}
.btn-link::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    -webkit-transition: -webkit-transform 150ms linear;
    transition: -webkit-transform 150ms linear;
    transition: transform 150ms linear;
    transition: transform 150ms linear, -webkit-transform 150ms linear;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    will-change: transform;
}
.btn-link:hover::after, .btn-link:focus::after{
    color: currentColor;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.service-case .service-case-image{
  overflow: hidden;
  height: 200px;
  position:  relative;
}
.service-case .service-case-image img {
  -webkit-transition: -webkit-transform 150ms linear;
  transition: -webkit-transform 150ms linear;
  transition: transform 150ms linear;
  transition: transform 150ms linear, -webkit-transform 150ms linear;
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-case:hover .service-case-image img{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.service-case-body{
  padding: 20px;
}
.service-case .service-case-body .service-case-title{
	font-size: 1.25rem;
	color: var(--text-dark);
	font-weight: 700;
}
.service-case .service-case-body .service-case-text{
	font-size: 0.85rem;
	color: var(--text-dark);
	font-weight: 500;
}
.service-case-arrow{
  color: var(--text-dark);
}
.service-case:hover .service-case-arrow svg{
  color: var(--primary-color);
	-webkit-animation: animate-icon-right 225ms linear forwards;
  animation: animate-icon-right 225ms linear forwards;
}
@-webkit-keyframes animate-icon-right {
  49% { -webkit-transform: translateX(100%); transform: translateX(100%);}
  50% {opacity: 0; -webkit-transform: translateX(-100%); transform: translateX(-100%);}
  51% {opacity: 1;}
}
@keyframes animate-icon-right {
  49% {-webkit-transform: translateX(100%); transform: translateX(100%);}
  50% {opacity: 0;-webkit-transform: translateX(-100%); transform: translateX(-100%);}
  51% {opacity: 1;}
}


.cta-section{
	margin-top: calc(var(--cta-height) / 3);
}
.cta-section .cta-card{
	position: absolute;
	left:  0;
	right: 0;
  margin: auto;
	width: 100%;
	top: calc(var(--cta-height) / 2 - var(--cta-height));
	min-height: var(--cta-height);
	border: 0;
	background-color: var(--bs-indigo);
	background-blend-mode: overlay;
	background-image: url('https://runwebrun.com/startbox/assets/img/root/call-to-action-1920x1080.jpg');
}
.cta-title{
	color: #ffffff;
	font-size: 2rem;
  line-height: 1.4;
  font-weight: 900;
  flex:  1;
}
.cta-inner{
	display:  flex;
	align-items: center;
	justify-content:  space-between;
	height: 100%;
}
.btn-cta{
  color: #17161A;
  background-color: #FFBB38;
  font-weight: 700;
  text-align: center;
  padding: 15px 40px;
  font-size: 1rem;
  border:  0;
  border-radius: 50rem;
  transition: all 150ms linear;
}
.btn-cta:hover, .btn-cta:focus{
	color: #17161A;
  background-color: #ffb21f;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}
.figure{}
.figure .figure-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.contact-card{}
.contact-card .contact-card-body{
  padding: 20px;
}
.contact-card .contact-card-head{
  padding: 20px 10px;
  border-bottom:  1px solid #eaeaea;
}
.contact-card .contact-card-head .chead-title{
  font-size: 1.25rem;
  color: var(--text-dark);
  font-weight: 700;
  margin: 0;
}
.contact-list{
  list-style:  none;
  padding: 0px;
  gap: .5rem;
  display: grid;
}
.contact-list .contact-list-item{
  display:  flex;
  align-items: flex-start;
}
.contact-list .contact-list-item i{
  margin-right: .5rem;
  color:  var(--primary-color);
  background-color: rgba(var(--primaryrgb-color), .1);
  border-radius:  4px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-list .contact-list-item .c-text{
  font-size: 0.9rem;
  font-weight: 500;
  flex:  1;
  margin: 0;
}

.form-group{}
.form-group .form-control{
  box-shadow: none;
  padding: .65rem 1rem;
  font-weight: 500;
  font-size: 0.95rem;
}
.form-group .form-control::placeholder{
  color: #9c9c9c;
  font-size: 0.85rem;
  letter-spacing: .1rem;
}
.form-group .input-group .input-group-text{
  background-color:  #ffffff;
}
.form-group .input-group:focus-within .input-group-text,
.form-group .form-control:focus{
  border-color: var(--primary-color);
}
.form-group .input-group:focus-within .input-group-text{
  color: var(--primary-color);
}
@media screen and (max-width:  768px){
	.section{
		padding: 50px 0;
	}
	.cta-inner{
		flex-direction:  column;
	}
	.cta-card{
		height:  auto;
		text-align: center;
		margin:  0 10px;
		width:  calc(100% - 20px) !important;
	}
}
/*================================= / SECTION =================================*/

/*================================= FOOTER ==================================*/
.footer{
	padding-top: calc(var(--cta-height) / 2 + 30px);
	padding-bottom: 30px;
}
.footer .nav .nav-item .nav-link:hover{
	text-decoration:  underline;
}
@media screen and (max-width:  768px){
  .footer{
    padding-top:  150px !important;
  }
}

/*================================= / FOOTER ==================================*/